{{ define "title"}}<title>Example</title>{{ end }}
{{ define "content" }}
    <ul>
        <li><a href="/bang.php">Start</a></li>
        {{ if .github_user }}
            <li><a href="/logout.php">Logout</a></li>
        {{ end }}
    </ul>
    <div class="current-user">
        {{ if .github_user }}

        <form action="/sendpost.php" method="post">

            <input  type="text" name="title" value="Why Jvol should fucking go and kill theirself part 42" />

            <div class="margin-top">
                <textarea name="body" placeholder="hey ... hey ! ... HEY!!!!! ah finally you awake . Sooooo wanna do some blogging ??? "></textarea>
            </div>
            <button type="submit">Send!</button>
        </form>


        {{ else }}
            <h3>Not logged in as anyone</h3>
        {{ end }}
    </div>
</div>

{{ end }}